body {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  color: green;
}

img {
  display: block;
  margin: o auto;
  width: 80%;
}

p {
  text-align: center;
}
